.is-animate {
  .header, .footer {
    nav {
      &::after {
         animation: line-scale .6s .6s var(--easing) forwards; 
      }
    }
  }
}

@keyframes line-scale {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(100%);
    }
}