.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: var(--header-and-footer);
}

.nav {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    font-family: var(--font-en);
    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        padding: 8px 0 24px;
    }
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 1px;
        background-color :var(--color-text);
        transform-origin: 100% 0;
    }
    .copy {
        font-size: 10px;
        text-align: center;
    }
    .link {
        order: -1;
        font-size: 12px;
        text-align: center;
        margin-top: 8px;
        margin-bottom: 8px;
        > svg {
            display: inline;
            width: auto;
            height: 14px;
            vertical-align: -2px;
        }
        @media (min-width: 768px) {
            order: 1;
            margin-top: 0;
            margin-bottom: 0;
        }
        &:hover {
            > svg {
                fill: var(--color-accent);
            }
        }
    }

}

