:root {
  /* color */
  --color-text: #D8D8D8;
  --color-text-light: #fff;
  --color-base: #151515;
  --color-base-alpha1: rgba(21,21,21,1);
  --color-base-alpha0: rgba(21,21,21,0);
  --color-accent: #4bc9c7;
  --color-gray: #8C8C8C;
  .is-lightTheme {
    --color-text: #151515;
    --color-text-light: #000;
    --color-base: #D8D8D8;
    --color-base-alpha1: rgba(216, 216, 216,1);
    --color-base-alpha0: rgba(216, 216, 216,0);
  }
  
  /* typography */
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500;700&family=Poppins:wght@500;600&display=swap');
  --font-base: 'Noto Sans JP', sans-serif;
  --font-en: 'Poppins', sans-serif;
  --display-title-font-size: clamp(4rem, 2.871rem + 5.6452vw, 7.5rem);//64-120
  --display-outline-font-size: clamp(1.5rem, 1.0161rem + 2.4194vw, 3rem);//24-48
  --letter-spacing: .04em;

  /* space */
  --space-xlarge: clamp(10rem, 9.2857rem + 3.5714vw, 12.5rem);
  --space-large: clamp(4rem, 3.7143rem + 1.4286vw, 5rem);

  /* breakpoint (for memo)*/
  --breakpoint-pc: 768px;

  /* global z-index */
  --header-and-footer: 10;

  /* transition */
  --easing: cubic-bezier(0.85, 0, 0.15, 1);
  --duration: .3s;
}

::selection {
  color: var(--color-base);
  background-color: var(--color-accent);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-base);
  background-color: var(--color-base);
  color: var(--color-text);
  letter-spacing: var(--letter-spacing);
  min-height: auto;
}

body {
  font-size: .875rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.is-lightTheme {
  .logoSvg {
    > path:not(.logoAccent) {
      fill: #000;
    }
  }
}

/* component */

.color-blue-green {
  color: var(--color-accent);
}

.btn-outline {
  display: inline-block;
  padding: 16px 8px;
  border-radius: 100px;
  border: 1px solid currentColor;
  text-align: center;
  overflow: hidden;
  transition-duration: var(--duration);
  transition-property: color, border, letter-spacing;
  @media (min-width: 768px) {
    min-width: 200px;
  }
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: var(--color-text-light);
    transform-origin: 0 0;
    transform: scaleY(0);
    transition: transform var(--easing) var(--duration);
  }
  &:hover {
    @media (min-width: 768px) {
      color: var(--color-base)!important;
      border: 1px solid var(--color-text-light);
      letter-spacing: .12em;
      &::before {
        transform-origin: 0 100%;
        transform: scaleY(1);
      }
    }
  }
}