.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: var(--header-and-footer);
}

.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: var(--font-en);
  font-size: 12px;
  padding: 24px 0 8px;
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background-color :var(--color-text);
    transform-origin: 0 0;
  }
  .logo {
    a {
      display: block;
      transition: opacity var(--duration);
      &:hover {
        @media (min-width: 768px) {
          opacity: .7;
        }
      }
    }
  }
  .navList {
      display: flex;
      column-gap: 1.5rem;
  }
}

.themeToggle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: .5rem;
  column-gap: 6px;
  > svg {
    width: auto;
    height: 1.125rem;
  }
}

.toggleBtn {
  position: relative;
  width: 2rem;
  height: 1rem;
  .toggleInput {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    margin: 0;
    &:checked + .toggleLabel::after {
      left: 17px;
    }
  }
  .toggleLabel {
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-text);
    position: relative;
    display: block;
    border-radius: 1rem;
    transition: var(--duration);
    &::after {
      content: "";
      position: absolute;
      width: .75rem;
      height: .75rem;
      border-radius: 100%;
      left: 1px;
      top: 1px;
      z-index: 0;
      background: var(--color-text);
      transition: var(--duration);
    }
  }
}