.mainvisual {
  padding-top: 56px;
  padding-bottom: 51px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--font-en);
}

.bgVideo {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  > * {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    opacity: .8;
    mix-blend-mode: hard-light;
  }
}

.content {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  .title {
    font-size: var(--display-title-font-size);
    letter-spacing: 0;
    line-height: 1.04;
    color: var(--white);
  }
  .outline {
    font-size: var(--display-outline-font-size);
    letter-spacing: 0;
    line-height: 1.25;
    font-weight: 600;
    color: var(--white);
    margin-top: .5rem;
    @media (min-width: 768px) {
      margin-top: 0;
    }
  }
  .btnGroup {
    margin-top: 1rem;
    display: flex;
    column-gap: 16px;
    @media (min-width: 768px) {
      margin-top: 2rem;
    }
    a {
      position: relative;
      flex: 1 0 0%;
      color: var(--white);
      @media (min-width: 768px) {
        flex: 0 0 0%;
      }
    }
  }
}

