.article {
  padding-top: 56px;
  padding-bottom: 64px;
  @media (min-width: 768px) {
    padding-bottom: 51px;
    position: relative;
    z-index: 0;
  }
  &::before, &::after {
    position: fixed;
    z-index: 1;
    content: '';
    display: block;
    width: 100%;
    left: 0;
    pointer-events: none;
  }
  &::before {
    top: 0;
    height: 110px;
    background: linear-gradient(180deg, var(--color-base-alpha1) 0%, var(--color-base-alpha1) 50%, var(--color-base-alpha0) 100%);
    @media (min-width: 768px) {
      height: 210px;
      background: linear-gradient(180deg, var(--color-base-alpha1) 0%, var(--color-base-alpha1) 25%, var(--color-base-alpha0) 100%);
    }
  }
  &::after {
    bottom: 0;
    height: 130px;
    background: linear-gradient(180deg, var(--color-base-alpha0) 0%, var(--color-base-alpha1) 50%, var(--color-base-alpha1) 100%);
    @media (min-width: 768px) {
      height: 260px;
      background: linear-gradient(180deg, var(--color-base-alpha0) 0%, var(--color-base-alpha1) 75%, var(--color-base-alpha1) 100%);
    }
  }
}

.pageTitleSticky {
  position: fixed;
  z-index: 2;
  padding-top: .5rem;
  > h1 {
    font-family: var(--font-en);
    font-size: 1rem;
  }
}

.section {
  padding-top: var(--space-xlarge);
  padding-bottom: var(--space-xlarge);
  overflow-x: hidden;
  > * + * {
    margin-top: var(--space-large);
  }
  + .section {
    padding-top: 0;
  }
  .count {
    font-family: var(--font-en);
    font-size: 1.25rem;
    font-weight: 600;
    @media (min-width: 768px) {
      padding-left: .5rem;
    }
  }
  .title {
    font-family: var(--font-en);
    font-size: var(--display-title-font-size);
    line-height: 1.04;
    overflow-wrap: break-word;
  }
  .outline {
    line-height: 2.5;
  }
  .listCase {
    > li {
      > a {
        font-weight: 700;
        border-bottom: 1px solid currentColor;
        transition-duration: var(--duration);
        transition-property: color, border;
        &:hover {
          @media (min-width: 768px) {
            color: var(--color-accent);
          }
        }
      }
    }
    > li:not(:last-child) {
      margin-bottom: 1em;
    }
  }
  .listTag {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    > li {
      color: var(--color-gray);
    }
    > li:not(:last-child) {
      padding-right: 8px;
      border-right: 1px solid var(--color-gray);
    }
  }
}


.image01,.image02,.image03  {
  position: fixed;
  z-index: -1;
  background-color: var(--color-base);
}
.image01 {
  right: 0;
  bottom: 15%;
}
.image02 {
  right: 17%;
  bottom: 0%;
  box-shadow: 0 0 80px 10px var(--color-base);
}
.image03 {
  z-index: -2;
  right: 30%;
  top: 0%;
  box-shadow: 0 0 80px 10px var(--color-base);
  > span {
    opacity: .5!important;
    display: block!important;
  }
}